In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import sem
from scipy.stats import linregress
from pprint import pprint

In [ ]:
acs2015_census_tract_data = "Resources/acs2015_census_tract_data.csv"
county_data_2015_one= pd.read_csv(acs2015_census_tract_data)
county_data_2015_one
county_data_2015_one['Year'] = 2015


#####not as useful?

In [8]:
acs2015_county_data = "Resources/acs2015_county_data.csv"
county_data_2015_two= pd.read_csv(acs2015_county_data)
county_data_2015_two['Year'] = 2015
county_data_2015_two

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,Year
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6,2015
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5,2015
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6,2015
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3,2015
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72145,Puerto Rico,Vega Baja,56858,27379,29479,96.4,3.4,0.1,0.0,...,1.3,0.3,32.0,13660,78.3,17.6,4.1,0.0,15.2,2015
3216,72147,Puerto Rico,Vieques,9130,4585,4545,96.7,2.9,0.0,0.0,...,0.0,1.4,14.0,2860,44.5,41.6,13.6,0.3,12.2,2015
3217,72149,Puerto Rico,Villalba,24685,12086,12599,99.7,0.0,0.0,0.0,...,0.0,3.3,26.9,6795,59.2,27.5,13.1,0.2,25.9,2015
3218,72151,Puerto Rico,Yabucoa,36279,17648,18631,99.8,0.2,0.0,0.0,...,2.3,1.5,29.5,8083,65.1,27.6,7.3,0.0,24.3,2015
3219,72153,Puerto Rico,Yauco,39474,19047,20427,99.5,0.5,0.0,0.0,...,0.7,3.1,24.6,8923,68.0,27.6,4.4,0.0,27.1,2015

In [21]:
ss07pusa = "../../Downloads/csv_pus/ss07pusa.csv"
something = pd.read_csv(ss07pusa)
something.head()

,RT,SERIALNO,SPORDER,PUMA,ST,ADJUST,PWGTP,AGEP,CIT,COW,...,pwgtp71,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80
0,P,364,1,200,1,1016787,73,19,1,1.0,...,24,76,130,132,122,75,22,128,74,73
1,P,447,1,600,1,1016787,87,33,1,3.0,...,29,87,161,160,152,75,85,76,92,172
2,P,447,2,600,1,1016787,66,25,1,1.0,...,22,82,111,123,116,56,74,53,65,170
3,P,447,3,600,1,1016787,69,9,1,NaN,...,23,71,108,108,113,59,81,66,61,140
4,P,447,4,600,1,1016787,70,7,1,NaN,...,22,74,120,108,111,61,80,75,59,137