In [1]:
#import dependencies 
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import sem
from scipy.stats import linregress
from pprint import pprint

In [2]:
#file locations
election_data_csv = "Resources/election_all.csv"
census_csv = "Resources/population2000-2016ALL.csv"

In [8]:
#read CSV files
election_data= pd.read_csv(election_data_csv)
census_data= pd.read_csv(census_csv)

In [9]:
election_data

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203
...,...,...,...,...,...,...,...,...,...,...,...
50519,2016,Alaska,AK,District 40,2040.0,President,Donald Trump,republican,1377.0,4610,20191203
50520,2016,Alaska,AK,District 40,2040.0,President,Other,NaN,895.0,4610,20191203
50521,2016,Alaska,NaN,District 99,2099.0,President,Hillary Clinton,democrat,274.0,5056,20191203
50522,2016,Alaska,NaN,District 99,2099.0,President,Donald Trump,republican,40.0,5056,20191203
50523,2016,Alaska,NaN,District 99,2099.0,President,Other,NaN,28.0,5056,20191203

In [5]:
census_data

,State,County,Location,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Alabama,Autauga,"Alabama, Autauga",44021,44889,45909,46800,48366,49676,51328,52405,53277,54135,"54,773","55,227","54,954","54,727","54,893","54,864","55,243"
1,Alabama,Baldwin,"Alabama, Baldwin",141342,144875,147957,151509,156266,162183,168121,172404,175827,179406,"183,112","186,558","190,145","194,885","199,183","202,939","207,601"
2,Alabama,Barbour,"Alabama, Barbour",29015,28863,28653,28594,28287,28027,27861,27757,27808,27657,"27,327","27,341","27,169","26,937","26,755","26,283","25,806"
3,Alabama,Bibb,"Alabama, Bibb",19913,21028,21199,21399,21721,22042,22099,22438,22705,22941,"22,870","22,745","22,667","22,521","22,553","22,566","22,586"
4,Alabama,Blount,"Alabama, Blount",51107,51845,52551,53457,54124,54624,55485,56240,57055,57341,"57,376","57,560","57,580","57,619","57,526","57,526","57,494"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3139,Wyoming,Sweetwater,"Wyoming, Sweetwater",37552,36899,37428,37450,38026,38739,39749,41470,42358,44133,"43,574","43,986","45,002","45,157","44,948","44,719","44,222"
3140,Wyoming,Teton,"Wyoming, Teton",18381,18653,18837,19066,19467,19632,20014,20472,20988,21232,"21,296","21,414","21,624","22,315","22,773","23,047","23,234"
3141,Wyoming,Uinta,"Wyoming, Uinta",19666,19413,19587,19480,19470,19494,19709,20171,20613,21054,"21,089","20,896","20,996","20,951","20,822","20,763","20,682"
3142,Wyoming,Washakie,"Wyoming, Washakie",8252,8068,7988,7976,7960,8022,7979,8169,8229,8423,"8,530","8,449","8,409","8,413","8,273","8,278","8,165"
3143,Wyoming,Weston,"Wyoming, Weston",6627,6487,6578,6610,6646,6594,6717,7033,7133,7266,"7,198","7,142","7,077","7,136","7,138","7,208","7,220"

In [13]:
#clean election data
election_data = election_data.dropna(how='any')
election_data.count()

election_data_clean = election_data.drop(['FIPS','version','office'], axis=1)
election_data_clean

,year,state,state_po,county,candidate,party,candidatevotes,totalvotes
0,2000,Alabama,AL,Autauga,Al Gore,democrat,4942.0,17208
1,2000,Alabama,AL,Autauga,George W. Bush,republican,11993.0,17208
2,2000,Alabama,AL,Autauga,Ralph Nader,green,160.0,17208
4,2000,Alabama,AL,Baldwin,Al Gore,democrat,13997.0,56480
5,2000,Alabama,AL,Baldwin,George W. Bush,republican,40872.0,56480
...,...,...,...,...,...,...,...,...
50513,2016,Alaska,AK,District 38,Donald Trump,republican,1143.0,5095
50515,2016,Alaska,AK,District 39,Hillary Clinton,democrat,3142.0,5639
50516,2016,Alaska,AK,District 39,Donald Trump,republican,1405.0,5639
50518,2016,Alaska,AK,District 40,Hillary Clinton,democrat,2338.0,4610
50519,2016,Alaska,AK,District 40,Donald Trump,republican,1377.0,4610

In [14]:
#export to csv
election_2000.to_csv (r'Resources/election_data2000.csv', index = False, header=True)
["year", "state", "state_code", "county", "candidate", "party", "candidate_votes", "total_votes"]