In [1]:

%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import sem
from scipy.stats import linregress
from pprint import pprint


countyPopEst2010_2019_csv = "Resources/countyPopEst2010_2019(edited).csv"


####Annual Estimates of the Resident Population for Counties in the United States: April 1, 2010 to July 1, 2019 (CO-EST2019-ANNRES)###

In [2]:
countyPopEst2010_2019= pd.read_csv(countyPopEst2010_2019_csv)
#countyPopEst2010_2019

In [3]:
countyPop2010_2019 = countyPopEst2010_2019.drop(columns=['Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'])

In [4]:
countyPop2010_2019.columns=["County", "State", "Census", "Estimates Base", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019"]

In [5]:
countyPop2010_2016 = countyPop2010_2019.drop(columns=['2017', '2018', '2019', 'Census', 'Estimates Base'])

In [6]:
countyPop2010_2016.reset_index(drop=True)

,County,State,2010,2011,2012,2013,2014,2015,2016
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Autauga County,Alabama,"54,773","55,227","54,954","54,727","54,893","54,864","55,243"
2,Baldwin County,Alabama,"183,112","186,558","190,145","194,885","199,183","202,939","207,601"
3,Barbour County,Alabama,"27,327","27,341","27,169","26,937","26,755","26,283","25,806"
4,Bibb County,Alabama,"22,870","22,745","22,667","22,521","22,553","22,566","22,586"
...,...,...,...,...,...,...,...,...,...
3144,NaN,"Note: The 6,222 people in Bedford city, Virgin...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3145,NaN,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3146,NaN,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3147,NaN,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3148,NaN,Release Date: March 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
countyPop2010_2016_dropped = countyPop2010_2016.dropna()
countyPop2010_2016_dropped

,County,State,2010,2011,2012,2013,2014,2015,2016
1,Autauga County,Alabama,"54,773","55,227","54,954","54,727","54,893","54,864","55,243"
2,Baldwin County,Alabama,"183,112","186,558","190,145","194,885","199,183","202,939","207,601"
3,Barbour County,Alabama,"27,327","27,341","27,169","26,937","26,755","26,283","25,806"
4,Bibb County,Alabama,"22,870","22,745","22,667","22,521","22,553","22,566","22,586"
5,Blount County,Alabama,"57,376","57,560","57,580","57,619","57,526","57,526","57,494"
...,...,...,...,...,...,...,...,...,...
3138,Sweetwater County,Wyoming,"43,574","43,986","45,002","45,157","44,948","44,719","44,222"
3139,Teton County,Wyoming,"21,296","21,414","21,624","22,315","22,773","23,047","23,234"
3140,Uinta County,Wyoming,"21,089","20,896","20,996","20,951","20,822","20,763","20,682"
3141,Washakie County,Wyoming,"8,530","8,449","8,409","8,413","8,273","8,278","8,165"
3142,Weston County,Wyoming,"7,198","7,142","7,077","7,136","7,138","7,208","7,220"

In [8]:
countyPop2010_2016_dropped2 = pd.DataFrame(countyPop2010_2016_dropped)

In [9]:
countyPop2010_2016_dropped2['County'] = countyPop2010_2016_dropped2['County'].str.replace(' County', '')

In [10]:
countyPop2010_2016_dropped2

,County,State,2010,2011,2012,2013,2014,2015,2016
1,Autauga,Alabama,"54,773","55,227","54,954","54,727","54,893","54,864","55,243"
2,Baldwin,Alabama,"183,112","186,558","190,145","194,885","199,183","202,939","207,601"
3,Barbour,Alabama,"27,327","27,341","27,169","26,937","26,755","26,283","25,806"
4,Bibb,Alabama,"22,870","22,745","22,667","22,521","22,553","22,566","22,586"
5,Blount,Alabama,"57,376","57,560","57,580","57,619","57,526","57,526","57,494"
...,...,...,...,...,...,...,...,...,...
3138,Sweetwater,Wyoming,"43,574","43,986","45,002","45,157","44,948","44,719","44,222"
3139,Teton,Wyoming,"21,296","21,414","21,624","22,315","22,773","23,047","23,234"
3140,Uinta,Wyoming,"21,089","20,896","20,996","20,951","20,822","20,763","20,682"
3141,Washakie,Wyoming,"8,530","8,449","8,409","8,413","8,273","8,278","8,165"
3142,Weston,Wyoming,"7,198","7,142","7,077","7,136","7,138","7,208","7,220"

In [11]:
countyPop2010_2016_dropped2['State'] = countyPop2010_2016_dropped2['State'].str.strip()
countyPop2010_2016_dropped2['County'] = countyPop2010_2016_dropped2['County'].str.strip()

In [12]:

countyPop2010_2016_dropped2.to_csv (r'Resources/countyPop2010_2016_CLEAN.csv', index = False, header=True)