In [27]:

%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import sem
from scipy.stats import linregress
from pprint import pprint


Population2000_csv = "Resources/countyPopEst2000_2010_CLEAN.csv"

Population2010_csv = "Resources/countyPop2010_2016_CLEAN.csv"

In [28]:
Population2000= pd.read_csv(Population2000_csv)

Population2010= pd.read_csv(Population2010_csv)

In [29]:
Population2000
Population2000['Location'] = (Population2000.State +", " +Population2000.County)

In [30]:
Population2000

,State,County,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,Location
0,Alabama,Autauga,44021,44889,45909,46800,48366,49676,51328,52405,53277,54135,"Alabama, Autauga"
1,Alabama,Baldwin,141342,144875,147957,151509,156266,162183,168121,172404,175827,179406,"Alabama, Baldwin"
2,Alabama,Barbour,29015,28863,28653,28594,28287,28027,27861,27757,27808,27657,"Alabama, Barbour"
3,Alabama,Bibb,19913,21028,21199,21399,21721,22042,22099,22438,22705,22941,"Alabama, Bibb"
4,Alabama,Blount,51107,51845,52551,53457,54124,54624,55485,56240,57055,57341,"Alabama, Blount"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3139,Wyoming,Sweetwater,37552,36899,37428,37450,38026,38739,39749,41470,42358,44133,"Wyoming, Sweetwater"
3140,Wyoming,Teton,18381,18653,18837,19066,19467,19632,20014,20472,20988,21232,"Wyoming, Teton"
3141,Wyoming,Uinta,19666,19413,19587,19480,19470,19494,19709,20171,20613,21054,"Wyoming, Uinta"
3142,Wyoming,Washakie,8252,8068,7988,7976,7960,8022,7979,8169,8229,8423,"Wyoming, Washakie"
3143,Wyoming,Weston,6627,6487,6578,6610,6646,6594,6717,7033,7133,7266,"Wyoming, Weston"

In [31]:
Population2010['Location'] = (Population2010.State +", " +Population2010.County)

Population2010

,County,State,2010,2011,2012,2013,2014,2015,2016,Location
0,Autauga,Alabama,"54,773","55,227","54,954","54,727","54,893","54,864","55,243","Alabama, Autauga"
1,Baldwin,Alabama,"183,112","186,558","190,145","194,885","199,183","202,939","207,601","Alabama, Baldwin"
2,Barbour,Alabama,"27,327","27,341","27,169","26,937","26,755","26,283","25,806","Alabama, Barbour"
3,Bibb,Alabama,"22,870","22,745","22,667","22,521","22,553","22,566","22,586","Alabama, Bibb"
4,Blount,Alabama,"57,376","57,560","57,580","57,619","57,526","57,526","57,494","Alabama, Blount"
...,...,...,...,...,...,...,...,...,...,...
3136,Sweetwater,Wyoming,"43,574","43,986","45,002","45,157","44,948","44,719","44,222","Wyoming, Sweetwater"
3137,Teton,Wyoming,"21,296","21,414","21,624","22,315","22,773","23,047","23,234","Wyoming, Teton"
3138,Uinta,Wyoming,"21,089","20,896","20,996","20,951","20,822","20,763","20,682","Wyoming, Uinta"
3139,Washakie,Wyoming,"8,530","8,449","8,409","8,413","8,273","8,278","8,165","Wyoming, Washakie"
3140,Weston,Wyoming,"7,198","7,142","7,077","7,136","7,138","7,208","7,220","Wyoming, Weston"

In [32]:


Population2010_loc = Population2010[['Location', 'County',
 'State',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016']]
Population2010_loc

,Location,County,State,2010,2011,2012,2013,2014,2015,2016
0,"Alabama, Autauga",Autauga,Alabama,"54,773","55,227","54,954","54,727","54,893","54,864","55,243"
1,"Alabama, Baldwin",Baldwin,Alabama,"183,112","186,558","190,145","194,885","199,183","202,939","207,601"
2,"Alabama, Barbour",Barbour,Alabama,"27,327","27,341","27,169","26,937","26,755","26,283","25,806"
3,"Alabama, Bibb",Bibb,Alabama,"22,870","22,745","22,667","22,521","22,553","22,566","22,586"
4,"Alabama, Blount",Blount,Alabama,"57,376","57,560","57,580","57,619","57,526","57,526","57,494"
...,...,...,...,...,...,...,...,...,...,...
3136,"Wyoming, Sweetwater",Sweetwater,Wyoming,"43,574","43,986","45,002","45,157","44,948","44,719","44,222"
3137,"Wyoming, Teton",Teton,Wyoming,"21,296","21,414","21,624","22,315","22,773","23,047","23,234"
3138,"Wyoming, Uinta",Uinta,Wyoming,"21,089","20,896","20,996","20,951","20,822","20,763","20,682"
3139,"Wyoming, Washakie",Washakie,Wyoming,"8,530","8,449","8,409","8,413","8,273","8,278","8,165"
3140,"Wyoming, Weston",Weston,Wyoming,"7,198","7,142","7,077","7,136","7,138","7,208","7,220"

In [33]:
#cols = list(Population2000.columns.values)
#cols
Population2000_loc = Population2000[['Location', 'State',
 'County',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009']]
Population2000_loc

,Location,State,County,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009
0,"Alabama, Autauga",Alabama,Autauga,44021,44889,45909,46800,48366,49676,51328,52405,53277,54135
1,"Alabama, Baldwin",Alabama,Baldwin,141342,144875,147957,151509,156266,162183,168121,172404,175827,179406
2,"Alabama, Barbour",Alabama,Barbour,29015,28863,28653,28594,28287,28027,27861,27757,27808,27657
3,"Alabama, Bibb",Alabama,Bibb,19913,21028,21199,21399,21721,22042,22099,22438,22705,22941
4,"Alabama, Blount",Alabama,Blount,51107,51845,52551,53457,54124,54624,55485,56240,57055,57341
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3139,"Wyoming, Sweetwater",Wyoming,Sweetwater,37552,36899,37428,37450,38026,38739,39749,41470,42358,44133
3140,"Wyoming, Teton",Wyoming,Teton,18381,18653,18837,19066,19467,19632,20014,20472,20988,21232
3141,"Wyoming, Uinta",Wyoming,Uinta,19666,19413,19587,19480,19470,19494,19709,20171,20613,21054
3142,"Wyoming, Washakie",Wyoming,Washakie,8252,8068,7988,7976,7960,8022,7979,8169,8229,8423
3143,"Wyoming, Weston",Wyoming,Weston,6627,6487,6578,6610,6646,6594,6717,7033,7133,7266

In [34]:
County_Population_Merge_2000_2016 = Population2000.merge(Population2010, left_on='Location', right_on='Location', how='left')

#result = pd.concat([Population2010_loc, Population2000_loc], axis=1, sort=False)
#result

#result2 = pd.concat([Population2000_loc, Population2010_loc], axis=1, sort=False)
#result2

In [35]:
County_Population_Merge_2000_2016

,State_x,County_x,2000,2001,2002,2003,2004,2005,2006,2007,...,Location,County_y,State_y,2010,2011,2012,2013,2014,2015,2016
0,Alabama,Autauga,44021,44889,45909,46800,48366,49676,51328,52405,...,"Alabama, Autauga",Autauga,Alabama,"54,773","55,227","54,954","54,727","54,893","54,864","55,243"
1,Alabama,Baldwin,141342,144875,147957,151509,156266,162183,168121,172404,...,"Alabama, Baldwin",Baldwin,Alabama,"183,112","186,558","190,145","194,885","199,183","202,939","207,601"
2,Alabama,Barbour,29015,28863,28653,28594,28287,28027,27861,27757,...,"Alabama, Barbour",Barbour,Alabama,"27,327","27,341","27,169","26,937","26,755","26,283","25,806"
3,Alabama,Bibb,19913,21028,21199,21399,21721,22042,22099,22438,...,"Alabama, Bibb",Bibb,Alabama,"22,870","22,745","22,667","22,521","22,553","22,566","22,586"
4,Alabama,Blount,51107,51845,52551,53457,54124,54624,55485,56240,...,"Alabama, Blount",Blount,Alabama,"57,376","57,560","57,580","57,619","57,526","57,526","57,494"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3139,Wyoming,Sweetwater,37552,36899,37428,37450,38026,38739,39749,41470,...,"Wyoming, Sweetwater",Sweetwater,Wyoming,"43,574","43,986","45,002","45,157","44,948","44,719","44,222"
3140,Wyoming,Teton,18381,18653,18837,19066,19467,19632,20014,20472,...,"Wyoming, Teton",Teton,Wyoming,"21,296","21,414","21,624","22,315","22,773","23,047","23,234"
3141,Wyoming,Uinta,19666,19413,19587,19480,19470,19494,19709,20171,...,"Wyoming, Uinta",Uinta,Wyoming,"21,089","20,896","20,996","20,951","20,822","20,763","20,682"
3142,Wyoming,Washakie,8252,8068,7988,7976,7960,8022,7979,8169,...,"Wyoming, Washakie",Washakie,Wyoming,"8,530","8,449","8,409","8,413","8,273","8,278","8,165"
3143,Wyoming,Weston,6627,6487,6578,6610,6646,6594,6717,7033,...,"Wyoming, Weston",Weston,Wyoming,"7,198","7,142","7,077","7,136","7,138","7,208","7,220"

In [36]:
County_Population_Merge_2000_2016.dropna()

,State_x,County_x,2000,2001,2002,2003,2004,2005,2006,2007,...,Location,County_y,State_y,2010,2011,2012,2013,2014,2015,2016
0,Alabama,Autauga,44021,44889,45909,46800,48366,49676,51328,52405,...,"Alabama, Autauga",Autauga,Alabama,"54,773","55,227","54,954","54,727","54,893","54,864","55,243"
1,Alabama,Baldwin,141342,144875,147957,151509,156266,162183,168121,172404,...,"Alabama, Baldwin",Baldwin,Alabama,"183,112","186,558","190,145","194,885","199,183","202,939","207,601"
2,Alabama,Barbour,29015,28863,28653,28594,28287,28027,27861,27757,...,"Alabama, Barbour",Barbour,Alabama,"27,327","27,341","27,169","26,937","26,755","26,283","25,806"
3,Alabama,Bibb,19913,21028,21199,21399,21721,22042,22099,22438,...,"Alabama, Bibb",Bibb,Alabama,"22,870","22,745","22,667","22,521","22,553","22,566","22,586"
4,Alabama,Blount,51107,51845,52551,53457,54124,54624,55485,56240,...,"Alabama, Blount",Blount,Alabama,"57,376","57,560","57,580","57,619","57,526","57,526","57,494"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3139,Wyoming,Sweetwater,37552,36899,37428,37450,38026,38739,39749,41470,...,"Wyoming, Sweetwater",Sweetwater,Wyoming,"43,574","43,986","45,002","45,157","44,948","44,719","44,222"
3140,Wyoming,Teton,18381,18653,18837,19066,19467,19632,20014,20472,...,"Wyoming, Teton",Teton,Wyoming,"21,296","21,414","21,624","22,315","22,773","23,047","23,234"
3141,Wyoming,Uinta,19666,19413,19587,19480,19470,19494,19709,20171,...,"Wyoming, Uinta",Uinta,Wyoming,"21,089","20,896","20,996","20,951","20,822","20,763","20,682"
3142,Wyoming,Washakie,8252,8068,7988,7976,7960,8022,7979,8169,...,"Wyoming, Washakie",Washakie,Wyoming,"8,530","8,449","8,409","8,413","8,273","8,278","8,165"
3143,Wyoming,Weston,6627,6487,6578,6610,6646,6594,6717,7033,...,"Wyoming, Weston",Weston,Wyoming,"7,198","7,142","7,077","7,136","7,138","7,208","7,220"

In [37]:
County_Population_Merge_2000_2016_2 = County_Population_Merge_2000_2016.drop(columns=['County_y','State_y'])

In [38]:
Population2000_2010_name = County_Population_Merge_2000_2016_2[['State_x',
 'County_x', 'Location',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016']]
Population2000_loc

,Location,State,County,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009
0,"Alabama, Autauga",Alabama,Autauga,44021,44889,45909,46800,48366,49676,51328,52405,53277,54135
1,"Alabama, Baldwin",Alabama,Baldwin,141342,144875,147957,151509,156266,162183,168121,172404,175827,179406
2,"Alabama, Barbour",Alabama,Barbour,29015,28863,28653,28594,28287,28027,27861,27757,27808,27657
3,"Alabama, Bibb",Alabama,Bibb,19913,21028,21199,21399,21721,22042,22099,22438,22705,22941
4,"Alabama, Blount",Alabama,Blount,51107,51845,52551,53457,54124,54624,55485,56240,57055,57341
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3139,"Wyoming, Sweetwater",Wyoming,Sweetwater,37552,36899,37428,37450,38026,38739,39749,41470,42358,44133
3140,"Wyoming, Teton",Wyoming,Teton,18381,18653,18837,19066,19467,19632,20014,20472,20988,21232
3141,"Wyoming, Uinta",Wyoming,Uinta,19666,19413,19587,19480,19470,19494,19709,20171,20613,21054
3142,"Wyoming, Washakie",Wyoming,Washakie,8252,8068,7988,7976,7960,8022,7979,8169,8229,8423
3143,"Wyoming, Weston",Wyoming,Weston,6627,6487,6578,6610,6646,6594,6717,7033,7133,7266

In [39]:
Population2000_2010_name2 = Population2000_2010_name.rename(columns={'State_x': 'State', 'County_x':'County'})
Population2000_2010_name2

,State,County,Location,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Alabama,Autauga,"Alabama, Autauga",44021,44889,45909,46800,48366,49676,51328,52405,53277,54135,"54,773","55,227","54,954","54,727","54,893","54,864","55,243"
1,Alabama,Baldwin,"Alabama, Baldwin",141342,144875,147957,151509,156266,162183,168121,172404,175827,179406,"183,112","186,558","190,145","194,885","199,183","202,939","207,601"
2,Alabama,Barbour,"Alabama, Barbour",29015,28863,28653,28594,28287,28027,27861,27757,27808,27657,"27,327","27,341","27,169","26,937","26,755","26,283","25,806"
3,Alabama,Bibb,"Alabama, Bibb",19913,21028,21199,21399,21721,22042,22099,22438,22705,22941,"22,870","22,745","22,667","22,521","22,553","22,566","22,586"
4,Alabama,Blount,"Alabama, Blount",51107,51845,52551,53457,54124,54624,55485,56240,57055,57341,"57,376","57,560","57,580","57,619","57,526","57,526","57,494"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3139,Wyoming,Sweetwater,"Wyoming, Sweetwater",37552,36899,37428,37450,38026,38739,39749,41470,42358,44133,"43,574","43,986","45,002","45,157","44,948","44,719","44,222"
3140,Wyoming,Teton,"Wyoming, Teton",18381,18653,18837,19066,19467,19632,20014,20472,20988,21232,"21,296","21,414","21,624","22,315","22,773","23,047","23,234"
3141,Wyoming,Uinta,"Wyoming, Uinta",19666,19413,19587,19480,19470,19494,19709,20171,20613,21054,"21,089","20,896","20,996","20,951","20,822","20,763","20,682"
3142,Wyoming,Washakie,"Wyoming, Washakie",8252,8068,7988,7976,7960,8022,7979,8169,8229,8423,"8,530","8,449","8,409","8,413","8,273","8,278","8,165"
3143,Wyoming,Weston,"Wyoming, Weston",6627,6487,6578,6610,6646,6594,6717,7033,7133,7266,"7,198","7,142","7,077","7,136","7,138","7,208","7,220"

In [40]:
Population2000_2010_name2.to_csv (r'Resources/population2000-2016ALL.csv', index = False, header=True)