In [60]:
#import dependencies 
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import sem
from scipy.stats import linregress
from pprint import pprint

In [61]:
#file locations
election_data_csv_2000 = "Resources/FOR_JINHO_2000.csv"
election_data_csv_2004 = "Resources/FOR_JINHO_2004.csv"
election_data_csv_2008 = "Resources/FOR_JINHO_2008.csv"
election_data_csv_2012 = "Resources/FOR_JINHO_2012.csv"
election_data_csv_2016 = "Resources/FOR_JINHO_2016.csv"

In [62]:
#read the files
elect_2000= pd.read_csv(election_data_csv_2000)
elect_2004= pd.read_csv(election_data_csv_2004)
elect_2008= pd.read_csv(election_data_csv_2008)
elect_2012= pd.read_csv(election_data_csv_2012)
elect_2016= pd.read_csv(election_data_csv_2016)

In [94]:
elect_2000 = elect_2000.rename(columns = {'total_votes':'2000_total_votes'})

In [64]:
elect_2004

,County,State,State_Code,Location,Year,Party,Candidate,Candidate_Votes,Total_Votes,County_Pop_2004
0,Autauga,Alabama,AL,"Alabama, Autauga",2004,democrat,John Kerry,4758.0,20081,48366
1,Autauga,Alabama,AL,"Alabama, Autauga",2004,republican,George W. Bush,15196.0,20081,48366
2,Baldwin,Alabama,AL,"Alabama, Baldwin",2004,democrat,John Kerry,15599.0,69320,156266
3,Baldwin,Alabama,AL,"Alabama, Baldwin",2004,republican,George W. Bush,52971.0,69320,156266
4,Barbour,Alabama,AL,"Alabama, Barbour",2004,democrat,John Kerry,4832.0,10777,28287
...,...,...,...,...,...,...,...,...,...,...
6067,Uinta,Wyoming,WY,"Wyoming, Uinta",2004,republican,George W. Bush,6081.0,8081,19470
6068,Washakie,Wyoming,WY,"Wyoming, Washakie",2004,democrat,John Kerry,855.0,4114,7960
6069,Washakie,Wyoming,WY,"Wyoming, Washakie",2004,republican,George W. Bush,3200.0,4114,7960
6070,Weston,Wyoming,WY,"Wyoming, Weston",2004,democrat,John Kerry,580.0,3392,6646
6071,Weston,Wyoming,WY,"Wyoming, Weston",2004,republican,George W. Bush,2739.0,3392,6646

In [93]:
elect_2008 = elect_2008.rename(columns = {'total_votes':'2008_total_votes'})

In [92]:
elect_2012 = elect_2012.rename(columns = {'total_votes':'2012_total_votes'})

In [67]:
elect_2016

,County,State,State_Code,Location,Year,Party,Candidate,Candidate_Votes,Total_Votes,County_Pop_2016
0,Autauga,Alabama,AL,"Alabama, Autauga",2016,democrat,Hillary Clinton,5936.0,24973,"55,243"
1,Autauga,Alabama,AL,"Alabama, Autauga",2016,republican,Donald Trump,18172.0,24973,"55,243"
2,Baldwin,Alabama,AL,"Alabama, Baldwin",2016,democrat,Hillary Clinton,18458.0,95215,"207,601"
3,Baldwin,Alabama,AL,"Alabama, Baldwin",2016,republican,Donald Trump,72883.0,95215,"207,601"
4,Barbour,Alabama,AL,"Alabama, Barbour",2016,democrat,Hillary Clinton,4871.0,10469,"25,806"
...,...,...,...,...,...,...,...,...,...,...
6053,Uinta,Wyoming,WY,"Wyoming, Uinta",2016,republican,Donald Trump,6154.0,8470,"20,682"
6054,Washakie,Wyoming,WY,"Wyoming, Washakie",2016,democrat,Hillary Clinton,532.0,3814,"8,165"
6055,Washakie,Wyoming,WY,"Wyoming, Washakie",2016,republican,Donald Trump,2911.0,3814,"8,165"
6056,Weston,Wyoming,WY,"Wyoming, Weston",2016,democrat,Hillary Clinton,299.0,3526,"7,220"
6057,Weston,Wyoming,WY,"Wyoming, Weston",2016,republican,Donald Trump,3033.0,3526,"7,220"

In [68]:
#correcting formatting on 2004 df
el_df_2004 = elect_2004.drop(['County','State','State_Code','Year','County_Pop_2004','Candidate'], axis=1)
el_df_2004

               Location       Party  Candidate_Votes  Total_Votes
0      Alabama, Autauga    democrat           4758.0        20081
1      Alabama, Autauga  republican          15196.0        20081
2      Alabama, Baldwin    democrat          15599.0        69320
3      Alabama, Baldwin  republican          52971.0        69320
4      Alabama, Barbour    democrat           4832.0        10777
...                 ...         ...              ...          ...
6067     Wyoming, Uinta  republican           6081.0         8081
6068  Wyoming, Washakie    democrat            855.0         4114
6069  Wyoming, Washakie  republican           3200.0         4114
6070    Wyoming, Weston    democrat            580.0         3392
6071    Wyoming, Weston  republican           2739.0         3392

[6072 rows x 4 columns]

In [69]:
# create df for unique parties 
democrat_2004 = el_df_2004.loc[el_df_2004["Party"] == 'democrat']
democrat_2004

                 Location     Party  Candidate_Votes  Total_Votes
0        Alabama, Autauga  democrat           4758.0        20081
2        Alabama, Baldwin  democrat          15599.0        69320
4        Alabama, Barbour  democrat           4832.0        10777
6           Alabama, Bibb  democrat           2089.0         7600
8         Alabama, Blount  democrat           3938.0        21504
...                   ...       ...              ...          ...
6062  Wyoming, Sweetwater  democrat           5208.0        16272
6064       Wyoming, Teton  democrat           5972.0        11359
6066       Wyoming, Uinta  democrat           1815.0         8081
6068    Wyoming, Washakie  democrat            855.0         4114
6070      Wyoming, Weston  democrat            580.0         3392

[3036 rows x 4 columns]

In [70]:
republican_2004 = el_df_2004.loc[el_df_2004["Party"] == 'republican']
republican_2004

                 Location       Party  Candidate_Votes  Total_Votes
1        Alabama, Autauga  republican          15196.0        20081
3        Alabama, Baldwin  republican          52971.0        69320
5        Alabama, Barbour  republican           5899.0        10777
7           Alabama, Bibb  republican           5472.0         7600
9         Alabama, Blount  republican          17386.0        21504
...                   ...         ...              ...          ...
6063  Wyoming, Sweetwater  republican          10653.0        16272
6065       Wyoming, Teton  republican           5124.0        11359
6067       Wyoming, Uinta  republican           6081.0         8081
6069    Wyoming, Washakie  republican           3200.0         4114
6071      Wyoming, Weston  republican           2739.0         3392

[3036 rows x 4 columns]

In [71]:
republican_2004 = republican_2004[['Total_Votes', 'Candidate_Votes', 'Location']]
republican_2004.columns = ['total_votes', '2004_republican_votes', 'Location']

democrat_2004 = democrat_2004[['Total_Votes', 'Candidate_Votes', 'Location']]
democrat_2004.columns = ['total_votes', '2004_democrat_votes', 'Location']

In [72]:
print(len(republican_2004['Location'].unique()), len(democrat_2004['Location'].unique()))

3001 3001

In [73]:
election_2004_clean = pd.merge(republican_2004,democrat_2004, on='Location')
election_2004_clean = election_2004_clean[['Location','total_votes_x','2004_republican_votes','2004_democrat_votes']]
election_2004_clean.columns = ['Location','total_votes','2004_republican_votes','2004_democrat_votes']
election_2004_clean

,Location,total_votes,2004_republican_votes,2004_democrat_votes
0,"Alabama, Autauga",20081,15196.0,4758.0
1,"Alabama, Baldwin",69320,52971.0,15599.0
2,"Alabama, Barbour",10777,5899.0,4832.0
3,"Alabama, Bibb",7600,5472.0,2089.0
4,"Alabama, Blount",21504,17386.0,3938.0
...,...,...,...,...
3311,"Wyoming, Sweetwater",16272,10653.0,5208.0
3312,"Wyoming, Teton",11359,5124.0,5972.0
3313,"Wyoming, Uinta",8081,6081.0,1815.0
3314,"Wyoming, Washakie",4114,3200.0,855.0
3315,"Wyoming, Weston",3392,2739.0,580.0

In [87]:
election_2004_clean = election_2004_clean.rename(columns = {'total_votes':'2004_total_votes'})

In [75]:
#do the same for 2016
el_df_2016 = elect_2016.drop(['County','State','State_Code','Year','County_Pop_2016','Candidate'], axis=1)
el_df_2016

               Location       Party  Candidate_Votes  Total_Votes
0      Alabama, Autauga    democrat           5936.0        24973
1      Alabama, Autauga  republican          18172.0        24973
2      Alabama, Baldwin    democrat          18458.0        95215
3      Alabama, Baldwin  republican          72883.0        95215
4      Alabama, Barbour    democrat           4871.0        10469
...                 ...         ...              ...          ...
6053     Wyoming, Uinta  republican           6154.0         8470
6054  Wyoming, Washakie    democrat            532.0         3814
6055  Wyoming, Washakie  republican           2911.0         3814
6056    Wyoming, Weston    democrat            299.0         3526
6057    Wyoming, Weston  republican           3033.0         3526

[6058 rows x 4 columns]

In [76]:
# create df for unique parties 
democrat_2016 = el_df_2016.loc[el_df_2016["Party"] == 'democrat']
democrat_2016

                 Location     Party  Candidate_Votes  Total_Votes
0        Alabama, Autauga  democrat           5936.0        24973
2        Alabama, Baldwin  democrat          18458.0        95215
4        Alabama, Barbour  democrat           4871.0        10469
6           Alabama, Bibb  democrat           1874.0         8819
8         Alabama, Blount  democrat           2156.0        25588
...                   ...       ...              ...          ...
6048  Wyoming, Sweetwater  democrat           3231.0        17130
6050       Wyoming, Teton  democrat           7314.0        12627
6052       Wyoming, Uinta  democrat           1202.0         8470
6054    Wyoming, Washakie  democrat            532.0         3814
6056      Wyoming, Weston  democrat            299.0         3526

[3029 rows x 4 columns]

In [77]:
republican_2016 = el_df_2016.loc[el_df_2016["Party"] == 'republican']
republican_2016

                 Location       Party  Candidate_Votes  Total_Votes
1        Alabama, Autauga  republican          18172.0        24973
3        Alabama, Baldwin  republican          72883.0        95215
5        Alabama, Barbour  republican           5454.0        10469
7           Alabama, Bibb  republican           6738.0         8819
9         Alabama, Blount  republican          22859.0        25588
...                   ...         ...              ...          ...
6049  Wyoming, Sweetwater  republican          12154.0        17130
6051       Wyoming, Teton  republican           3921.0        12627
6053       Wyoming, Uinta  republican           6154.0         8470
6055    Wyoming, Washakie  republican           2911.0         3814
6057      Wyoming, Weston  republican           3033.0         3526

[3029 rows x 4 columns]

In [78]:
republican_2016 = republican_2016[['Total_Votes', 'Candidate_Votes', 'Location']]
republican_2016.columns = ['total_votes', '2016_republican_votes', 'Location']

democrat_2016 = democrat_2016[['Total_Votes', 'Candidate_Votes', 'Location']]
democrat_2016.columns = ['total_votes', '2016_democrat_votes', 'Location']

In [79]:
print(len(republican_2004['Location'].unique()), len(democrat_2004['Location'].unique()))

3001 3001

In [80]:
election_2016_clean = pd.merge(republican_2016,democrat_2016, on='Location')
election_2016_clean = election_2016_clean[['Location','total_votes_x','2016_republican_votes','2016_democrat_votes']]
election_2016_clean.columns = ['Location','total_votes','2016_republican_votes','2016_democrat_votes']
election_2016_clean

,Location,total_votes,2016_republican_votes,2016_democrat_votes
0,"Alabama, Autauga",24973,18172.0,5936.0
1,"Alabama, Baldwin",95215,72883.0,18458.0
2,"Alabama, Barbour",10469,5454.0,4871.0
3,"Alabama, Bibb",8819,6738.0,1874.0
4,"Alabama, Blount",25588,22859.0,2156.0
...,...,...,...,...
3248,"Wyoming, Sweetwater",17130,12154.0,3231.0
3249,"Wyoming, Teton",12627,3921.0,7314.0
3250,"Wyoming, Uinta",8470,6154.0,1202.0
3251,"Wyoming, Washakie",3814,2911.0,532.0
3252,"Wyoming, Weston",3526,3033.0,299.0

In [86]:
election_2016_clean = election_2016_clean.rename(columns = {'total_votes':'2016_total_votes'})

In [100]:
#merge 2000 and 2004
merge_df1 = pd.merge(elect_2000, election_2004_clean, on="Location", how="inner")
merge_df1

,Location,2000_total_votes,2000_republican_votes,2000_democrat_votes,total_votes_2004,2004_republican_votes,2004_democrat_votes
0,"Alabama, Autauga",17208,11993.0,4942.0,20081,15196.0,4758.0
1,"Alabama, Baldwin",56480,40872.0,13997.0,69320,52971.0,15599.0
2,"Alabama, Barbour",10395,5096.0,5188.0,10777,5899.0,4832.0
3,"Alabama, Bibb",7101,4273.0,2710.0,7600,5472.0,2089.0
4,"Alabama, Blount",17973,12667.0,4977.0,21504,17386.0,3938.0
...,...,...,...,...,...,...,...
4270,"Wyoming, Sweetwater",15691,9425.0,5521.0,16272,10653.0,5208.0
4271,"Wyoming, Teton",10431,5454.0,4019.0,11359,5124.0,5972.0
4272,"Wyoming, Uinta",7418,5469.0,1650.0,8081,6081.0,1815.0
4273,"Wyoming, Washakie",4051,3138.0,806.0,4114,3200.0,855.0
4274,"Wyoming, Weston",3060,2521.0,449.0,3392,2739.0,580.0

In [101]:
#merge 2008
merge_df2 = pd.merge(merge_df1, elect_2008, on="Location", how="inner")
merge_df2

,Location,2000_total_votes,2000_republican_votes,2000_democrat_votes,total_votes_2004,2004_republican_votes,2004_democrat_votes,2008_total_votes,2008_democrat_votes,2008_republican_votes
0,"Alabama, Autauga",17208,11993.0,4942.0,20081,15196.0,4758.0,23641,6093.0,17403.0
1,"Alabama, Baldwin",56480,40872.0,13997.0,69320,52971.0,15599.0,81413,19386.0,61271.0
2,"Alabama, Barbour",10395,5096.0,5188.0,10777,5899.0,4832.0,11630,5697.0,5866.0
3,"Alabama, Bibb",7101,4273.0,2710.0,7600,5472.0,2089.0,8644,2299.0,6262.0
4,"Alabama, Blount",17973,12667.0,4977.0,21504,17386.0,3938.0,24267,3522.0,20389.0
...,...,...,...,...,...,...,...,...,...,...
4270,"Wyoming, Sweetwater",15691,9425.0,5521.0,16272,10653.0,5208.0,16833,5762.0,10360.0
4271,"Wyoming, Teton",10431,5454.0,4019.0,11359,5124.0,5972.0,12359,7472.0,4565.0
4272,"Wyoming, Uinta",7418,5469.0,1650.0,8081,6081.0,1815.0,8418,2317.0,5763.0
4273,"Wyoming, Washakie",4051,3138.0,806.0,4114,3200.0,855.0,4100,1042.0,2956.0
4274,"Wyoming, Weston",3060,2521.0,449.0,3392,2739.0,580.0,3414,658.0,2618.0

In [102]:
#merge 2012
merge_df3 = pd.merge(merge_df2, elect_2012, on="Location", how="inner")
merge_df3

,Location,2000_total_votes,2000_republican_votes,2000_democrat_votes,total_votes_2004,2004_republican_votes,2004_democrat_votes,2008_total_votes,2008_democrat_votes,2008_republican_votes,2012_total_votes,2012_democrat_votes,2012_republican_votes
0,"Alabama, Autauga",17208,11993.0,4942.0,20081,15196.0,4758.0,23641,6093.0,17403.0,23932,6363.0,17379.0
1,"Alabama, Baldwin",56480,40872.0,13997.0,69320,52971.0,15599.0,81413,19386.0,61271.0,85338,18424.0,66016.0
2,"Alabama, Barbour",10395,5096.0,5188.0,10777,5899.0,4832.0,11630,5697.0,5866.0,11509,5912.0,5550.0
3,"Alabama, Bibb",7101,4273.0,2710.0,7600,5472.0,2089.0,8644,2299.0,6262.0,8420,2202.0,6132.0
4,"Alabama, Blount",17973,12667.0,4977.0,21504,17386.0,3938.0,24267,3522.0,20389.0,24006,2970.0,20757.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4270,"Wyoming, Sweetwater",15691,9425.0,5521.0,16272,10653.0,5208.0,16833,5762.0,10360.0,16895,4774.0,11428.0
4271,"Wyoming, Teton",10431,5454.0,4019.0,11359,5124.0,5972.0,12359,7472.0,4565.0,11464,6213.0,4858.0
4272,"Wyoming, Uinta",7418,5469.0,1650.0,8081,6081.0,1815.0,8418,2317.0,5763.0,8539,1628.0,6615.0
4273,"Wyoming, Washakie",4051,3138.0,806.0,4114,3200.0,855.0,4100,1042.0,2956.0,3944,794.0,3014.0
4274,"Wyoming, Weston",3060,2521.0,449.0,3392,2739.0,580.0,3414,658.0,2618.0,3359,422.0,2821.0

In [104]:
#merge 2016
merge_df4 = pd.merge(merge_df3, election_2016_clean, on="Location", how="inner")
merge_df4

,Location,2000_total_votes,2000_republican_votes,2000_democrat_votes,total_votes_2004,2004_republican_votes,2004_democrat_votes,2008_total_votes,2008_democrat_votes,2008_republican_votes,2012_total_votes,2012_democrat_votes,2012_republican_votes,total_votes_2016,2016_republican_votes,2016_democrat_votes
0,"Alabama, Autauga",17208,11993.0,4942.0,20081,15196.0,4758.0,23641,6093.0,17403.0,23932,6363.0,17379.0,24973,18172.0,5936.0
1,"Alabama, Baldwin",56480,40872.0,13997.0,69320,52971.0,15599.0,81413,19386.0,61271.0,85338,18424.0,66016.0,95215,72883.0,18458.0
2,"Alabama, Barbour",10395,5096.0,5188.0,10777,5899.0,4832.0,11630,5697.0,5866.0,11509,5912.0,5550.0,10469,5454.0,4871.0
3,"Alabama, Bibb",7101,4273.0,2710.0,7600,5472.0,2089.0,8644,2299.0,6262.0,8420,2202.0,6132.0,8819,6738.0,1874.0
4,"Alabama, Blount",17973,12667.0,4977.0,21504,17386.0,3938.0,24267,3522.0,20389.0,24006,2970.0,20757.0,25588,22859.0,2156.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68782,"Wyoming, Sweetwater",15691,9425.0,5521.0,16272,10653.0,5208.0,16833,5762.0,10360.0,16895,4774.0,11428.0,17130,12154.0,3231.0
68783,"Wyoming, Teton",10431,5454.0,4019.0,11359,5124.0,5972.0,12359,7472.0,4565.0,11464,6213.0,4858.0,12627,3921.0,7314.0
68784,"Wyoming, Uinta",7418,5469.0,1650.0,8081,6081.0,1815.0,8418,2317.0,5763.0,8539,1628.0,6615.0,8470,6154.0,1202.0
68785,"Wyoming, Washakie",4051,3138.0,806.0,4114,3200.0,855.0,4100,1042.0,2956.0,3944,794.0,3014.0,3814,2911.0,532.0
68786,"Wyoming, Weston",3060,2521.0,449.0,3392,2739.0,580.0,3414,658.0,2618.0,3359,422.0,2821.0,3526,3033.0,299.0

In [105]:
merge_df4.to_csv(r'Resources/election_2000_2016_merged.csv', index=False, header=True)